data/*
!data/.gitkeep
*.zarr
*.tif
*.tiff
*.nc
__pycache__/
.env
.ipynb_checkpoints/
logs/
custom_precipitation_data.csv
EMAIL_NOTIFICATION_IMPLEMENTATION.md
.gitignore
HOW_TO_ZIP_SHAPEFILE.md
IMPLEMENTATION_CHECKLIST.md
IMPLEMENTATION_SUMMARY.md
MULTI_POINT_DOWNLOAD_FEATURE.md
MULTI_POINT_IMPLEMENTATION_COMPLETE.md
NASA_POWER_INTEGRATION.md
QUICKSTART_MULTI_POINT.md
QUICKSTART_NASA_POWER.md
SSL_CERTIFICATE_FIX_MACOS.md
SUMMARY_NASA_POWER.md
config/email_recipients.txt
documentation/.$bootstrapandincremental.drawio.bkp
frontend/sample_data/README.md
frontend/sample_data/sample_data_file.txt
frontend/sample_data/Sri_Lanka.shp
frontend/sample_data/Sri_Lanka.shx
pythia_weather/*